site_name: NPS Hikes
site_url: https://seanangio.github.io/nps-hikes/
repo_url: https://github.com/seanangio/nps-hikes

theme:
  name: material
  features:
    - content.code.copy
    - navigation.instant
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - Getting Started: getting-started.md
